@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
body {
    background: #F0F0F0;
}

input
{

color: rgb(77, 77, 77)


}

body, input, h1, h2 {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

#msgLabel {
    color: #b60f1d;
    font-weight: bold;
}

.center {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: fixed;
}

.card {
    
   
    padding: 8px;
    background-image: url('images/bgSDK.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}

input, button {
    padding: 10px;
    border: solid 1px rgb(223, 222, 222);
    margin: 2px;
    padding: 8px;
    box-sizing: border-box;
}



input[type='button'], button {
    background: white;
    color: white;
    cursor: pointer;
    border: solid 1px white;
    background: none;
    min-width: 32px;
    min-height: 32px;
    margin: 5px;
    box-shadow: none;
    
    
}

.login-div {


    width: 790px;
    height: 130%;;
    position: fixed;
    right: 50%;
    left: 50%;
    top: 50%;
    

    
 
}

#insideLogin
{

    transform: translate(-50%, -50%);
    position: relative;

    max-width: 400px;


}


#againButton
{

    margin-left: 16px;
    margin-right: 51px;

    
}


#validationAlert
{
    border: none;
    position: absolute;
    left: 9.4%;
    top: 145%;

}

#msgDiv
{
    padding: 14px;
    margin-top: 90px;
    height: 107px;
    background-position-y: -130px;
    border: none;

}

#msgLabel
{
    line-height: 33px;
    border: none;
    

}

#difDiv
{
    margin-top: 187px;
    height: 100px;
    background-position-y: -170px;
    width: 215px;
    border: none;


}

#okButton
{

    width: 93%;

    
}

#logo
{


    left: 49%;
    top: -110%;
    transform: translate(-50%, -50%);
    position: fixed;
    max-width: 55%; height: auto;


}



#enterButton
{

width: 100%;
position: fixed;
margin-left: 2px;
    
}

h1
{

font-size: 30px;
color: white;

}

h2
{

    color: rgb(77, 77, 77);

}


@media (max-width: 780px) {
    .center {
        width: 85%;
        box-shadow: none;
    }
    input[type='button'], button {
        width: 93%;
        margin-bottom: 8px;
        font-weight: 500;
        letter-spacing: 0.5px;
    }

    body {
        background-image: url('images/bgSDK2.jpg');
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position-y: 0px;
        background-position-x: -750px;
        background-size: auto;

      }


      .login-div {

        left: 50%;
        transform: translate(-50%, -50%);
        float: none;
        position: fixed;
        float: left;
        max-width: 780px;
        top: 50%
    
        
     
    }

    #insideLogin
    {
    

        left: auto;
        top: auto;
        transform: none;
        top: 50%;
        left: 49.8%;
        transform: translate(-50%, -50%);
        position: relative;

        float: none;
    
        max-width: 38%;
    
    }

    #image
    {

        display: none;

    }

        #againButton
    {

        margin-left: 0px;
        margin-right: 0px;

        
    }


    #difDiv
    {
        margin-top: 210px;
        height: 200px;
        background-position-y: 40px;
        background-position-x: -150px;
        width: 200px;


    }


    #msgDiv
    {
        padding: 15px;
        margin-top: 127px;
        height: 90px;
        background-position-y: 40px;
        background-position-x: -150px;
        border: none;


    }

    #msgLabel
    {
        line-height: 33px;
        border: none;
        

    }


}











