#sudokuTable {
    border-collapse: collapse;
    background: white;
}

#sudokuTable, #sudokuTable tr, #sudokuTable td {
    border: solid 1px rgb(223, 222, 222);
    
}

#sudokuTable td {
    width: 38px;
    height: 38px;
    text-align: center;
}

#sudokuTable input {
    width: 100%;
    height: 100%;
    text-align: center;
    border: none;
    outline: none;
    background: none;
    font-size: 12px;
}

#sudokuTable input::-webkit-outer-spin-button,
#sudokuTable input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

#goodLuck
{


font-weight: bold;
font-size: 30px;
color: white;




}

h1
{

font-size: 18px;
color: white;


}

#numbersDiv > input[type="button"] {
    width: 16px;
    height: 16px;
    margin: 2px;
    padding: 2px;
    font-size: 12px;
    display: inline-block;
    float: left;
}

#numbersDiv {
    display:  none;
    text-align: center;
}


@media (max-width: 780px) {
 
    #numbersDiv {
        display: inline-block;
    }


}